
.categoria{
  padding: 0%;
  margin-right: 2%;
  margin-bottom: 4%;
  margin-left: 9%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 12vmax;
  height: 20vmax;
} 

/*
.categoria:hover{
 background-color:rgba(23, 4, 26, 0.733);
 opacity: 0.5; 
 
} */
/*
.genereimg {
 width: 12rem;
  height: 100%;
  padding: 0%;
  background-size: cover;
  
} */

.titolo-card{
  padding-top: 30px;
  text-align: center;
  color:rgb(80, 8, 58);
  font-weight: bold;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}


.testocard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color:white;
    font-weight: bold;
    font-family:'Segoe UI';
    font-size: 20px;
    width: 12vmax;
    height: 20vmax;
    padding-top: 20vh;

}

.testocard:hover{
  font-size: 25px; 
  background-color:rgba(23, 4, 26, 0.733);
  background-size: cover;
  
}

.sfondocat{ 
  background-image: url(../res/Medea-sfondo-sporco.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
